ENVIRONMENT=test

[DATABASE]
DATABASE_URL=postgresql+asyncpg://mytickets:mytickets@localhost:54321/mytickets
DATABASE_ECHO=false
DATABASE_POOL_SIZE=5
DATABASE_MAX_OVERFLOW=5
DATABASE_POOL_TIMEOUT=20

[LOG]
LOG_LEVEL=INFO
LOG_JSON=True

[AUTH]
JWT_SECRET=this-should-only-use-for-dev
ACCESS_TOKEN_TTL_SECONDS=900
REFRESH_TOKEN_TTL_SECONDS=604800